body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

nav {
  position: fixed;
  width: 100%;
  background: #720026;
  color: white;
}
nav ul {
  display: flex;
  justify-content: center;
  gap: 90px;
  list-style: none;
}

.main0 {
  background: #FFB22C;
  position: relative;
  top: 50px;
}
.main0 .main {
  display: flex;
  justify-content: center;
}

.us{
  text-align: center;
  line-height: 40px;
  position: relative;
  top: 60px;
}

.box0 {
  position: relative;
  top: 60px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.box0 .box {
  background-color: #f4a261;
  padding: 20px;
  border-radius: 20px;
  width: 300px;
  text-align: center;
}

.main2{
  position: relative;
  top: 40px;
}

@media (max-width: 768px) {
  .box0 .box {
    width: 90%;
    margin-bottom: 20px;
  }
}
.box0 .box .box1 {
  background: #C5172E;
  border-radius: 20px 20px 0 0;
}

footer {
  position: relative;
  height: 300px;
  background: #0d3b66;
  color: bisque;
  display: flex;
  justify-content: space-evenly;
}

.f1{
  line-height: 50px;
  font-size: 20px;
}

.box {
  background: #f4a261;
  padding: 20px;
  border-radius: 20px;
}